#filesystem {
  width: var(--filesystem-width);
  padding: 0 0;
  padding-left: 1em;
  padding-top: 0.5em;
  border-right: 1px solid #282a36;
}

#file-system-tree__section {
  min-height: 60vh;
  overflow-y: auto;
}

.tree {
  padding-left: 0;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style-type: none;
}

summary div {
  display: flex !important;
  align-items: center;
}

ul li div {
  display: flex !important;
  align-items: center;
}

summary span {
  margin-left: 0.5rem;
}

ul li span {
  margin-left: 0.5rem;
}

.file-open {
  color: var(--green);
  background-color: var(--grey);
  border-radius: 5px;
}

#help {
  height: 40vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-top: 1px solid #282a36;
  overflow-y: scroll;
}

#help ul {
  padding-left: 0;
}

#help code {
  margin-left: 1em;
}

#help code:first-child {
  margin-left: 0;
}

#help .block {
  width: calc(100% - 2em);
}