:root {
  --workbench-width: 100%;
  --workbench-height: 100vh;
  --actions-width: 50px;
  --filesystem-width: 30vw;
  --editor-width: calc(var(--workbench-width) - var(--actions-width) - var(--filesystem-width));
  --editor-height: 60vh;
  --terminal-width: calc(var(--workbench-width) - var(--actions-width) - var(--filesystem-width));
  --terminal-height: calc(var(--workbench-height) - var(--editor-height));
}

::-webkit-scrollbar {
  width: 3px !important;
  background-color: var(--black) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blackSecondary) !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blackSecondary) !important;
}

::-webkit-scrollbar-track {
  background: var(--black) !important;
}

::-webkit-scrollbar-corner {
  background: var(--black) !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black) !important;
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  font-family: Fira Code, monospace;
}

li {
  list-style-type: none;
  cursor: pointer;
}

dialog {
  margin: 0 auto;
  margin-top: 2em;
  width: 80vw;
  border: 0;
  background-color: var(--black);
  border-radius: var(--rounded-lg);
  border: 1px solid var(--white);
  padding: 1em;
}

#input-filename {
  width: calc(100% - 2em);
  margin: 0.5em 1em;
  background-color: var(--blackSecondary);
}

.hidden {
  visibility: hidden;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #c2d8e8;
}

.drac-textarea {
  background: var(--blackSecondary);
  border: .3rem solid transparent;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  width: 100%;
  padding: 0 var(--spacing-4);
  height: var(--spacing-32);
  font-size: var(--font-md);
}

.drac-textarea:focus {
  border-color: var(--white);
}

.drac-textarea::placeholder {
  color: var(--blackTernary);
}

.drac-textarea-outline {
  background: transparent;
  border-color: var(--blackTernary);
}

#settings-button {
  position: fixed;
  bottom: 1em;
  left: 0.5em;
}

#settings-button {
  ion-icon:hover {
    rotate: 270deg;
    animation: 0.5s;
    animation-delay: 100ms;
  }
}

.close-dialog {
  position: absolute;
  top: 2px;
  right: 0.125em;
  color: var(--white);
  background-color: transparent;
  border-color: transparent;
}

#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }

  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}

@media (max-width: 991px) {

  :root {
    --workbench-width: 100%;
    --workbench-height: 100vh;
    --actions-width: 40px;
    --filesystem-width: 80vw;
    --editor-width: calc(var(--workbench-width) - var(--actions-width) - var(--filesystem-width));
    --editor-height: 50vh;
    --terminal-width: calc(var(--workbench-width) - var(--actions-width) - var(--filesystem-width));
    --terminal-height: calc(var(--workbench-height) - var(--editor-height));
  }

  /* .hidden-on-mobile {
    display: none;
  } */

  #settings-button {
    bottom: 0;
  }

}

@media (max-height: 450px) {

  .hidden-on-mobile-landscape {
    display: none;
  }

}