:root {
  --workbench-width: 100%;
  --workbench-height: 100vh;
  --actions-width: 75px --editor-width: 100%;
  --editor-height: 60vh;
  --terminal-width: 100%;
  --terminal-height: calc(var(--workbench-height) - var(--editor-height));
}

::-webkit-scrollbar {
  width: 3px !important;
  background-color: var(--black) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blackSecondary) !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blackSecondary) !important;
}

::-webkit-scrollbar-track {
  background: var(--black) !important;
}

::-webkit-scrollbar-corner {
  background: var(--black) !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black) !important;
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
}

li {
  list-style-type: none;
  cursor: pointer;
}

dialog {
  margin: 0 auto;
  margin-top: 10%;
  width: 80vw;
  border: 0;
  background-color: var(--black);
  border-radius: var(--rounded-lg);
  padding: 1em;
}

#filename-dialog {
  border: 0;
  background-color: transparent;
}

#input-filename {
  width: calc(100% - 2em);
  margin: 0.5em 1em;
  background-color: var(--blackSecondary);
}

.hidden {
  display: none !important;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #c2d8e8;
}

.drac-textarea {
  background: var(--blackSecondary);
  border: .3rem solid transparent;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  outline: none;
  transition: all .3s ease-in-out;
  width: 100%;
  padding: 0 var(--spacing-4);
  height: var(--spacing-32);
  font-size: var(--font-md);
}

.drac-textarea:focus {
  border-color: var(--white);
}

.drac-textarea::placeholder {
  color: var(--blackTernary);
}

.drac-textarea-outline {
  background: transparent;
  border-color: var(--blackTernary);
}

#settings-button {
  position: fixed;
  bottom: 1em;
}