#terminal-section {
  width: var(--terminal-width);
  height: var(--terminal-height);
}

#terminal-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  border-bottom: 1px solid #282a36;
  align-items: center;
  justify-content: center;
  margin: 0.25em 0;
}

#terminal {
  width: 100%;
  height: calc(100%);
}

@media (min-width: 992px) {
  #terminal-buttons {
    display: none;
  }
}