#terminal-section {
  width: var(--terminal-width);
  height: var(--terminal-height);
}

#terminal {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  #terminal-buttons {
    display: none;
  }
}