main {
  width: 100%;
}

#workbench {
  width: 100%;
  display: flex;
  align-items: top;
}

#filesystem {
  width: 25%;
  padding: 1rem;
}

#fs-options-section {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

#fs-options-section input {
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 5px;
  max-width: 100%;
}

#fs-options-section button {
  background-color: var(--black);
  border: none;
  color: var(--green);
  font-size: 1.5rem;
}

#fs-options-section button:hover {
  opacity: 0.8;
}

#editor-container {
  width: 75%;
  overflow: auto !important;
}

#tabs {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

#tabs li p {
  padding: 0 auto;
  margin: 0;
  padding: 0.5rem;
}

#tabs li {
  color: var(--white);
  margin-right: 0.5rem !important;
}

.active-tab p,
.active-tab span {
  color: var(--green);
  background-color: #282A36;
}

.cm-wrap {
  height: 100%;
}

.cm-scroller {
  overflow: auto;
}
