* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}

main {
    width: 100%;
    margin: 0 auto;
}

#workbench {
    display: flex;
    flex-direction: row;
    border: 1px dashed white;
    height: 60vh;
}

#filesystem {
    border-right: 1px dashed white;
}

#editor-container {
    width: 100%;
}

#root ul {
    list-style: none;
    margin: 0 auto;
}

#terminal-section {
    display: flex;
    border-bottom: 1px dashed white;
    border-left: 1px dashed white;
    border-right: 1px dashed white;
}

#terminal {
    width: 100%;
    height: 60vh;
}

#file-title-bar {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed white;
}

#file-title-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#file-title-bar li {
    color: white;
    border-right: 1px dashed white;
    padding: 0.5em;
}

.xterm-fg-0 {
    color: var(--black) !important;
}

.xterm-fg-1 {
    color: var(--red) !important;
}

.xterm-fg-2 {
    color: var(--green) !important;
}

.xterm-fg-3 {
    color: var(--yellow) !important;
}

.xterm-fg-4 {
    color: var(--cyan) !important;
}

.xterm-fg-5 {
    color: var(--pink) !important;
}

.xterm-fg-6 {
    color: var(--purple) !important;
}

.xterm-fg-7 {
    color: var(--white) !important;
}

.xterm-fg-8 {
    color: var(--blackSecondary) !important;
}

.xterm-fg-9 {
    color: var(--redSecondary) !important;
}

.xterm-fg-10 {
    color: var(--yellowSecondary) !important;
}

.xterm-fg-11 {
    color: var(--greenSecondary) !important;
}

.xterm-fg-12 {
    color: var(--cyanSecondary) !important;
}

.xterm-fg-13 {
    color: var(--pinkSecondary) !important;
}

.xterm-fg-14 {
    color: var(--purpleSecondary) !important;
}

.xterm-fg-15 {
    color: var(--whiteSecondary) !important;
}
