<% if ('contents' in file) { %>
    <ul>
        <% for (f of file.contents) { %>
            <% if (f.type === 'file') { %>
                <li>
                    <%= f.name %>
                </li>
            <% } %>
            <% if (f.type === 'directory') { %>
                <li>
                    <details id="<%= f.name %>">
                        <summary>
                            <%= f.name %>
                        </summary>
                        <% if ('contents' in f) { %>
                            <%- include('subfilesystem.ejs', {file: f }); %>
                        <% } %>
                    </details>
                </li>
            <% } %>
        <% } %>
    </ul>
<% } %>